@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.promos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(212, 212, 212, 0.76);
    h1{
        color: white;
        font-family: 'Krona One', sans-serif;
        margin-top: 50px;
    }
    .cardarea{
        padding: 20px;
        display: flex;
        justify-content: center;
        .card{
            padding: 10px;
            color: white;
            background-color: rgba(68, 67, 67, 0.377);
            .button{
                color: rgb(255, 102, 0);
                background-color: rgba(255, 255, 255, 0.822);
                border: none;
                &:hover{
                    background-color: rgba(255, 102, 0, 0.842);
                    color: white;
                }
            }
        }
    }
}